$gap: 15px;

:host {
  height: 100%;
}

h3 {
  margin: 0;
}

.main-page {
  height: 100%;
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding: 15px;
  box-sizing: border-box;
}

.container {
  max-width: 850px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-gap: $gap;
}

.form {
  display: flex;
  gap: 15px;
}

.images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: $gap;
}

.download {
  width: 100%;
  overflow: hidden;
  padding: $gap;
  margin: 0 auto;
  border-radius: 6px;
  box-sizing: border-box;

  &-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $gap;
  }

  &-container {
    width: 100%;
    min-height: 220px;
    padding: $gap;
    margin: $gap 0;
    border: 2px dashed #dedede;
    border-radius: 12px;
    box-sizing: border-box;

    display: flex;
    align-items: center;

    overflow-y: scroll;

    &__placeholder {
      display: flex;
      justify-content: center;
      text-align: center;

      opacity: .5;
      margin: 0 auto;
      font-weight: bold;
    }
  }

  &-footer {
    display: flex;
    justify-content: center;
  }
}

.image-card {
  height: 100%;
  width: 220px;
}

.settings {
  &-btn {
    &-content {
      display: flex;
      align-items: center;
      gap: 4px;
    }

    &-arrow {
      transition: .15s ease;
    }
  }
  &-expander {
    box-shadow: none;

    &-content {
      padding-top: $gap;
    }
  }
}

.rotate {
  transform: rotate(180deg);
}
