<section class="main-page">

  <div class="container">
    <div class="grid">
      <section class="description">
        <h2>Сжатие изображений онлайн</h2>
        <p>
          На compressor.monster вы можете бесплатно сжать изображения с расширением <strong>jpg</strong>, <strong>webp</strong>, <strong>png</strong>.
        </p>
        <p>
          Сжатие происходит исключительно средствами браузера, поэтому никаких личные данные не будут украдены или
          скопированы. Загружаемые изображения остаются только в вашем браузере.
        </p>
      </section>

      <div class="download mat-elevation-z4">
        <header class="download-header">
          <div class="spacer"></div>

          <button
            mat-stroked-button
            type="button"
            (click)="fileInput.click()"
          >
            <mat-icon>add_photo_alternate</mat-icon>
            <span>Выбрать</span>
          </button>

          <button
            mat-stroked-button
            type="button"
            (click)="toggleSettings()"
          >
            <span class="settings-btn-content">
              <mat-icon>settings</mat-icon>
              <span>Настройки</span>
              <mat-icon class="settings-btn-arrow" [class.rotate]="expandSettings">expand_more</mat-icon>
            </span>
          </button>

          <input
            (input)="onInputChange($event)"
            #fileInput
            type="file"
            accept="image/*"
            multiple
            hidden
          >

          <div class="spacer"></div>
        </header>

        <mat-accordion>
          <mat-expansion-panel
            [expanded]="expandSettings"
            class="settings-expander"
          >
            <!--
              Angular material Accordion have bug without this component.
              * Top border flickers when switching panel
            -->
            <mat-expansion-panel-header
              style="height: 1px; opacity: 0">
            </mat-expansion-panel-header>

            <article class="settings-expander-content">
              <app-compress-config
                [config]="config"
                (change)="configChange($event)">
              </app-compress-config>
            </article>
          </mat-expansion-panel>
        </mat-accordion>

        <div
          appDropZone
          #dropZone="dropZone"
          class="download-container"
          [class.highlight]="dropZone.isEntered"
          (dropFiles)="processFileList($event)"
        >
          <app-image-list
            [@listAnimation]="images.size"
            [@.disabled]="animationDisabled"
          >
            <app-image-card
              class="image-card"
              [class.highlight]="dropZone.isEntered"
              *ngFor="
                let image of images | keyvalue;
                trackBy:trackByImageKeyValue
              "
              [image]="image.key"
              [compressedImage]="image.value"

              (remove)="removeImage(image.key)"
              (download)="downloadOne($event)">
            </app-image-card>
          </app-image-list>

          <button
            *ngIf="!images.size"
            mat-stroked-button
            class="download-container__placeholder"
            (click)="fileInput.click()"
          >
            Перетащите файлы изображений
          </button>
        </div>

        <footer class="download-footer">
          <button
            mat-button
            color="primary"
            [disabled]="!images.size"
            (click)="downloadAll()"
          >
            <mat-icon>download</mat-icon>
            <span>Выгрузить архив</span>
            <span *ngIf="images.size">({{images.size}})</span>
          </button>

          <button
            mat-button
            color="warn"
            [disabled]="!images.size"
            (click)="reset()"
          >
            <mat-icon>delete_sweep</mat-icon>
            <span>Очистить</span>
          </button>
        </footer>
      </div>

      <app-compress-stats
        [compressed]="images">
      </app-compress-stats>
    </div>
  </div>
</section>
