:host {
  height: 100%;
}

h3 {
  margin: 0;
}

.main-page {
  height: 100%;
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding: 15px;
  box-sizing: border-box;
}

.form {
  display: flex;
  gap: 15px;
}

.images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}
