<section class="main-page">

  <app-compress-config
    [config]="config"
    (change)="configChange($event)">
  </app-compress-config>

  <div class="download mat-elevation-z4">
    <header class="download-header">
      <button
        mat-stroked-button
        type="button"
        (click)="fileInput.click()"
      >
        <mat-icon>add_photo_alternate</mat-icon>
        Check images
      </button>

      <input
        (input)="onInputChange($event)"
        #fileInput
        type="file"
        accept="image/*"
        multiple
        hidden
      >
    </header>

    <div class="download-container">
      <button
        *ngIf="!images.length"
        mat-stroked-button
        class="download-container__placeholder"
        (click)="fileInput.click()"
      >
        Drag your images
      </button>

      <app-image-list>
        <app-image-card
          class="image-card"
          *ngFor="let image of images"
          [image]="image"
          [compressedImage]="compressed.get(image)"
          (remove)="removeImage(image)"
          (download)="downloadOne($event)"
        >
        </app-image-card>
      </app-image-list>
    </div>

    <footer class="download-footer">
      <button
        mat-button
        color="primary"
        [disabled]="!images.length"
        (click)="downloadAll()"
      >
        <mat-icon>download</mat-icon>
        <span>Download all</span>
        <span *ngIf="images.length">({{images.length}})</span>
      </button>

      <button
        mat-button
        color="warn"
        [disabled]="!images.length"
        (click)="reset()"
      >
        <mat-icon>delete_sweep</mat-icon>
        <span>Clear</span>
      </button>
    </footer>
  </div>
</section>
