---
import { Divider } from "@app/components/base";
import { HowTo } from "@app/components/template/HowTo";
import { Container } from "@app/components/template/layout";
import { H1, H2, Heading } from "@app/components/template/typography";
import Layout from "@app/layouts/Layout.astro";
import { ImageConverter } from "./components";
---

<Layout
  title="Конвертация изображений в jpg, png, webp и другие"
  description="Беслатная и быстрая конвертация картинок в различные форматы"
>
  <Container size="sm">
    <Heading center>
      <H1>Онлайн конвертация</H1>

      <p>
        Бесплатная онлайн преобразование картинок, фотографий и других
        изображений
        <br />
        в jpg, jpeg, png, webp и прочие форматы
      </p>
    </Heading>

    <Divider />

    <ImageConverter client:idle />

    <Divider />

    <HowTo
      client:idle
      class="pb-8"
      heading="Как пользоваться конвертацией картинок"
    >
      <HowTo.Card
        position="1"
        color="success"
        icon="image"
        title="Выберете изображения"
        description="Перетащите картинки или нажмите на кнопку"
      />
      <HowTo.Card
        position="2"
        color="success"
        icon="settings"
        title="Выберете нужный формат"
        description="Нажмите на кнопку расширения картинки"
      />
      <HowTo.Card
        position="3"
        color="success"
        icon="download"
        title="Выгрузите картинки"
        description="Выгрузьте все картинки или по отдельности"
      />
    </HowTo>
  </Container>
</Layout>
