---
import { Divider } from "@app/components/base";
import { HowTo } from "@app/components/template/HowTo";
import { Container } from "@app/components/template/layout";
import { H1, Heading } from "@app/components/template/typography";
import Layout from "@app/layouts/Layout.astro";
import { ImageConverter } from "./components";
import { ConvertTypes } from "./store";
---

<Layout
  title="Конвертация изображений в JPG"
  description="Беслатная и быстрая конвертация картинок из любого формата в JPG"
>
  <Container size="sm">
    <Heading center>
      <H1>Конвертация в JPEG</H1>

      <p>
        Бесплатная онлайн преобразование картинок,
        <br />
        фотографий и других изображений в JPEG
      </p>
    </Heading>

    <Divider />

    <ImageConverter client:idle type={ConvertTypes.JPEG} />

    <Divider />

    <HowTo
      client:idle
      class="pb-8"
      heading="Как пользоваться конвертацией картинок"
    >
      <HowTo.Card
        position="1"
        color="success"
        icon="image"
        title="Выберете изображения"
        description="Перетащите картинки или нажмите на кнопку"
      />
      <HowTo.Card
        position="2"
        color="success"
        icon="settings"
        title="Выберете нужный формат"
        description="Нажмите на кнопку расширения картинки"
      />
      <HowTo.Card
        position="3"
        color="success"
        icon="download"
        title="Выгрузите картинки"
        description="Выгрузьте все картинки или по отдельности"
      />
    </HowTo>

    <Divider />
  </Container>
</Layout>
