<section
  *ngIf="stats && stats.initialSize"
  class="stats"
>
  <div class="stats-spinner">
    <mat-progress-spinner
      color="primary"
      mode="determinate"
      [value]="stats.percent">
    </mat-progress-spinner>

    <span class="stats-spinner__percent">{{stats.percent}}%</span>
  </div>

  <div class="stats-description">
    <p>Размер сжатых изображений уменьшился на <strong>{{stats.percent}}%</strong></p>
    <p><b>{{stats.initialSize | convert}}kb/{{stats.compressedSize | convert}}kb</b></p>
  </div>
</section>
