<div class="card" *ngIf="image">
  <header class="card-header mat-elevation-z1">
    <h5 class="card-name">{{image.file.name}}</h5>
    <div class="spacer"></div>
    <button class="card-close-btn" (click)="onRemove()">
      <mat-icon>close</mat-icon>
    </button>
  </header>

  <div class="card-diff">
    <ng-container *ngIf="compressedImage">
      <span>
        {{diff}}%
      </span>
      <span class="card-diff__sizes">
        {{image.file.size}} / {{compressedImage.size}}
      </span>
    </ng-container>
  </div>

  <button
    class="card-download-btn"
    mat-button
    type="button"
  >
    <mat-icon>download</mat-icon>
    Download
  </button>

  <img
    *ngIf="image.src"
    [src]="image.src"
    [alt]="image.file.name"
  >
</div>
