---
import { Container } from "@app/components/template/layout";
import { H1, H3, H4, Heading } from "@app/components/template/typography";
import Layout from "@app/layouts/Layout.astro";
---

<Layout title="Контакты">
  <Container>
    <Heading center>
      <H1>О проекте</H1>
      <p class="max-w-lg mx-auto">
        Compress.monster предоставляет функционал для сжатия фото, растровых
        картинок и других изображений онлайн и абсолютно бесплатно.
      </p>
    </Heading>

    <span class="divider"></span>

    <section class="my-10">
      <H3>Как работает?</H3>

      <p>
        При сжатии специальный алгоритм пытается снизить размер занимаемой
        памяти у изображения.
        <br />
        Сжатие картинок глобально разделяют на два вида:
      </p>

      <ul class="my-4 flex flex-col gap-2">
        <li>
          <strong>С потерями</strong> - сжатие, при котором изображение теряет в
          качестве, но становится заметно компактнее. Чаще всего основано на специфике
          человеческого зрения - картинка сжимается так, чтобы человеку были максимально
          незаметны потери.
        </li>
        <li>
          <strong>Без потерь</strong> - используются специальные алгоритмы, благодаря
          которым можно восстановить исходное (до сжатия) изображение. Наиболее эффективны
          при сжатии векторных и других графических изображений.
        </li>
      </ul>

      <p>
        Существует множество алгоритмов для сжатия с потерями и без для
        изображений разных форматов.
      </p>

      <figure
        class="mt-8 p-4 bg-neutral text-neutral-content text-center rounded shadow-xl"
      >
        <p class="max-w-md mx-auto">
          На основной странице сайта можно эффективно сжать группу картинок за
          раз
        </p>

        <div class="text-center pt-4">
          <a class="btn btn-primary btn-outline btn-sm" href="/">К сжатию</a>
        </div>
      </figure>
    </section>

    <section class="my-10">
      <H3 class="text-center mb-8">Почему compress.monster?</H3>

      <div class="my-4 flex justify-center items-start gap-4 flex-wrap">
        <article
          class="flex flex-col w-48 text-center items-center justify-center rounded"
        >
          <span class="material-symbols-outlined text-4xl mb-4 text-success">money_off</span>
          <H4 class="text-lg">Бесплатно</H4>
          <span>Функционал сайта доступен каждному</span>
        </article>
        <article
          class="flex flex-col w-48 text-center items-center justify-center rounded"
        >
          <span class="material-symbols-outlined text-4xl mb-4 text-info">settings_motion_mode</span>
          <H4 class="text-lg">Просто и удобно</H4>
          <span>Быстрая загрузка и эффективное сжатие</span>
        </article>
        <article
          class="flex flex-col w-48 text-center items-center justify-center rounded"
        >
          <span class="material-symbols-outlined text-4xl mb-4 text-warning">vpn_lock</span>
          <H4 class="text-lg">Безопасно</H4>
          <span>Ваши данные полностью защищены</span>
        </article>
      </div>
    </section>
  </Container>
</Layout>
