---
import { Editor } from "@app/components/editor";
import { Container } from "@app/components/template/layout";
import { H1, Heading } from "@app/components/template/typography";
import Layout from "@app/layouts/Layout.astro";
---

<!-- @See https://github.com/scaleflex/filerobot-image-editor -->
<script
  is:global
  src="https://scaleflex.cloudimg.io/v7/plugins/filerobot-image-editor/latest/filerobot-image-editor.min.js"
></script>

<Layout title="Онлайн редактор картинок">
  <Container size="sm">
    <Heading center>
      <H1>Онлайн редактор изображений</H1>
      <p>
        Бесплатный фоторедактор в браузере. Изменяйте размер картинок, обрезайте
        фотографии, добавляйте фильтры фотографиям онлайн без установки
        дополнительных программ.
      </p>
    </Heading>

    <br />
    <br />

    <Editor client:idle />

    
  </Container>
</Layout>
