---
import Layout from "@app/layouts/Layout.astro";
---

<Layout
  title="FAQ"
  description="Ответы на частые вопросы о приложении"
>
  <div class="container p-2">
    <h1 class="text-4xl font-bold my-10">Частые вопросы</h1>

    <p>comming soon...</p>
  </div>
</Layout>
