---
import {
  Card,
  CardContainer,
  Container,
} from "@app/components/template/layout";
import { H1, H3, H4, Heading } from "@app/components/template/typography";
import Layout from "@app/layouts/Layout.astro";
---

<Layout
  title="Возможности"
  description="Сжимайте, редактируйте и улучшайте свои изображения"
>
  <Container size="sm">
    <Heading center>
      <H1>Возможности</H1>

      <p>
        CompressMonster активно развивается. На данный момент готов предложить
        функционал по сжатию и редактированию изображений.
      </p>
    </Heading>

    <div class="divider"></div>

    <section>
      <CardContainer>
        <Card
          color="success"
          icon="image"
          title="Cжатие"
          description="Массовое сжатие изображений"
        >
          <a class="mt-2 btn btn-sm btn-outline btn-success gap-2" href="/">
            <span class="material-symbols-outlined">verified</span>
            Открыть
          </a>
        </Card>

        <Card
          color="success"
          icon="edit_square"
          title="Редактирование"
          description="Функциональный фоторедактор"
        >
          <a
            class="mt-2 btn btn-sm btn-outline btn-success gap-2"
            href="/editor"
          >
            <span class="material-symbols-outlined">verified</span>
            Открыть
          </a>
        </Card>

        <Card
          color="success"
          icon="transform"
          title="Преобразование"
          description="Из одного формата в другой"
        >
          <a
            class="mt-2 btn btn-sm btn-outline btn-success gap-2"
            href="/convert"
          >
            <span class="material-symbols-outlined">verified</span>
            Открыть
          </a>
        </Card>
      </CardContainer>
    </section>

    <div class="divider"></div>

    <section>
      <Heading center>
        <H3>Многое еще в планах!</H3>
        <p>Добавьте сайт в закладки, чтобы не пропустить ничего нового.</p>
      </Heading>
    </section>
  </Container>
</Layout>
