---
import Layout from "@app/layouts/Layout.astro";
import { ImageCompressor } from "@app/components/compress";
import { Features } from "@app/components/template/features";
import {
  Card,
  CardContainer,
  Container,
} from "@app/components/template/layout";
import { H1, H2, H4, Heading } from "@app/components/template/typography";
import { HowToUse } from "./index/HowToUse";
import { CompressExample } from "./index/CompressExample";
import { Divider, Icon } from "@app/components/base";
---

<link rel="stylesheet" href="/background.css" />
<Layout
  title="сжатие картинок png, jpeg, webp онлайн бесплатно"
  description="Бесплатное и неограниченное сжатие изображений png jpeg webp и других"
>
  <div class="py-8 max-w-[1240px] mx-auto">
    <section
      class="min-h-screen md:grid md:grid-cols-2 gap-6 items-center"
    >
      <Heading class="p-6">
        <H1 class="text-5xl">Быстрое и эффективное сжатие <br /> изображений</H1
        >
        <p class="text-2xl">Без потери в качестве</p>

        <Divider class="max-w-[60px]" />

        <div>
          <a href="#compressor" class="btn btn-accent gap-2">
            <Icon code="arrow_downward" />
            <span>К сжатию</span>
          </a>
        </div>
      </Heading>

      <div class="p-8 sm:p-0">
        <CompressExample client:load />
      </div>
    </section>
  </div>

  <Container size="sm">
    <section class="flex flex-col py-8" id="compressor">
      <ImageCompressor client:load />
    </section>

    <span class="divider"></span>

    <section class="py-10 px-2" itemscope itemtype="http://schema.org/HowTo">
      <Heading center>
        <H2 itemprop="name">
          3 простых шага для сжатия картинки <br />
          <span class="text-xl font-normal">с потерей качества или без</span>
        </H2>
      </Heading>
      <br />
      <br />

      <HowToUse />
    </section>

    <span class="divider"></span>

    <section class="py-10 px-2 flex flex-col gap-8" id="why-use">
      <Features />
    </section>

    <span class="divider"></span>

    <section class="py-10 px-2">
      <Heading center>
        <H2>Зачем сжимать изображения?</H2>

        <p>
          <strong>Сжатие</strong> - распространенный и удобный способ сделать изображение
          меньше по объему занимаемой памяти, практически не изменяя качество. Сжатые
          картинки быстрее загружаются по сети интернет, дешевле стоят в случае хранения
          на сервисах вроде Cloud от Apple, Yandex или Google дисках.
        </p>
      </Heading>

      <br />

      <br />

      <H4 class="text-center">Сжатие используют для:</H4>
      <br />
      <CardContainer>
        <Card
          color="success"
          icon="trending_up"
          title="Роста в выдаче"
          description="Оптимизированные страницы любят Google и Yandex"
        />

        <Card
          color="success"
          icon="speed"
          title="Ускорение сайта"
          description="Сжатые картинки сильно ускоряют загрузку страниц"
        />

        <Card
          color="success"
          icon="save"
          title="Экономии"
          description="После сжатия можно сэкономить на облачных дисках"
        />
      </CardContainer>

      <br />
      <br />

      <p>
        Основная задача сжатия фото/картинок и других изображений - уменьшить их
        размер. Существует сжатие как с потерями, так и без потерь, но
        современные алгоритмы сжатия обеспечивают практически незаметную разницу
        между картинками до и после даже при сжатии с потерями.
      </p>

      <br />

      <p>
        По статистике, чем меньше время ожидания пользователя загрузки сайта -
        тем выше конверсия. Чем быстрее загрузится сайт - тем выше вероятность,
        что посетитель с ним ознакомиться. В противном случае человек может уйти
        со страницы сайта и не взглянув на контент страницы.
      </p>

      <br />

      <p>
        Медиаконтент (фото и видео) на странице любого сайта чаще всего вносит
        наибольший вклад в объем загружаемых данных. А самый простой способ
        ускорость сайт - сжать картинки.
      </p>
    </section>
  </Container>
</Layout>
