<form class="config" [formGroup]="form">
  <mat-form-field>
    <mat-label>Качество</mat-label>
    <mat-select formControlName="quality">
      <mat-option [value]="0.2">0.2</mat-option>
      <mat-option [value]="0.4">0.4</mat-option>
      <mat-option [value]="0.6">0.6</mat-option>
      <mat-option [value]="0.8">0.8</mat-option>
      <mat-option [value]="1">1</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Mime тип</mat-label>
    <mat-select formControlName="mimeType">
      <mat-option [value]="'auto'">auto</mat-option>
      <mat-option [value]="'png'">png</mat-option>
      <mat-option [value]="'jpeg'">jpeg</mat-option>
      <mat-option [value]="'webp'">webp</mat-option>
    </mat-select>
  </mat-form-field>
</form>
