.toolbar {
  height: auto;
  margin-top: 25px;
  padding: 10px 0;
}

.footer {
  box-sizing: border-box;
  width: 100%;
  font-size: 0.9rem;
  font-weight: normal;

  &-row {
    display: flex;
    align-items: center;

    @media (max-width: 400px) {
      flex-direction: column;
    }
  }
}
