---
import Layout from '../layouts/Layout.astro';
---

<Layout title="сжатие картинок png, jpeg, webp онлайн бесплатно">
	<main>
		<h1>Welcome to <span class="text-gradient">Compressor</span></h1>
		
	</main>
</Layout>

