---
import { ImageCompressor } from "../components/compress/ImageCompressor";
import { Features } from "../components/template/features";
import { Footer } from "../components/template/Footer";
import { Header } from "../components/template/Header";
import Layout from "../layouts/Layout.astro";
---

<Layout title="сжатие картинок png, jpeg, webp онлайн бесплатно">
  <main>
    <Header />

    <div class="container">
      <section class="flex flex-col">
        <ImageCompressor client:idle />
      </section>

      <span class="divider"></span>

      <section class="py-6 px-2 flex flex-col gap-8" id="why-use">
        <Features />
      </section>

      <span class="divider"></span>
    </div>
  </main>

  <Footer />
</Layout>
