---
import { ImageCompressor } from "../components/Compress/ImageCompressor";
import { Header } from "../components/template/Header";
import Layout from "../layouts/Layout.astro";
---

<Layout title="сжатие картинок png, jpeg, webp онлайн бесплатно">
  <main>
    <Header />

    <ImageCompressor client:idle />
  </main>
</Layout>
