---
import { ImageCompressor } from "../components/compress/ImageCompressor";
import { Header } from "../components/template/Header";
import Layout from "../layouts/Layout.astro";
---

<Layout title="сжатие картинок png, jpeg, webp онлайн бесплатно">
  <main>
    <Header />

    <div class="container">
      <ImageCompressor client:idle />

    </div>
  </main>
</Layout>

