.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative;
}

.circle::before {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  top: -6px;
  border-radius: 50%;
  box-shadow: 0 0 10px 6px #711a75;
}

.circle-lg {
  width: 100%;
  height: 100%;
  animation: rotateCircles 32.1s linear infinite;
}

.circle-md {
  width: 75%;
  height: 75%;
  animation: rotateCircles 22s linear infinite;
}

.circle-md::before {
  width: 10px;
  height: 10px;
}

.circle-sm {
  width: 50%;
  height: 50%;
  animation: rotateCircles 14.5s linear infinite;
}

.circle-sm::before {
  width: 10px;
  height: 10px;
}


@keyframes rotateCircles {
  from {
    transform: rotate(0);
  } to {
    transform: rotate(360deg);
  }
}